DATABASE_URL="mongodb+srv://<user>:<password>@cluster.mongodb.net/ssi?retryWrites=true&w=majority"
JWT_SECRET="your_jwt_secret_here"
JWT_REFRESH_SECRET="your_refresh_secret_here"
CLIENT_URL="http://localhost:5173"
PORT=5000
NODE_ENV=development

# Admin Credentials (format: username_or_email:password,username_or_email2:password2)
ADMIN_CREDENTIALS="it@dopacoaching.com:password,manukarakuth90@gmail.com:password"

# Local MongoDB URI (for setup scripts)
MONGODB_LOCAL_URI="mongodb://127.0.0.1:27017"

